#bundles{
    background-color: rgb(239, 239, 218);
    display: grid;
    grid-template-columns: 1fr;

    div{
        h1{
            text-align: left;
        }
        h2{
            text-align: left;
        }
        img{

        }
    }
    div{
        h1{
            text-align: left;
        }
        h2{
            text-align: left;
        }
        img{

        }
    }

    //Usage
    @include md{
        grid-template-columns: 1fr 1fr;
    }

    //Usage
    @include lg{
        grid-template-columns: 1fr 1fr;
    }
}