#bundles{
    background-color: rgb(239, 239, 218);
    display: grid;
    grid-template-columns: 1fr;

    //Usage
    @include sm{
        grid-template-columns: 1fr;
    }

    //Usage
    @include md{
        grid-template-columns: 1fr 1fr;
    }

    //Usage
    @include lg{
        grid-template-columns: 1fr 1fr;
    }
}