#gallery{
    display: grid;
    grid-template-columns: 1fr;
    div{
        img{

        }
    }
    div{
        img{
            
        }
    }
    div{
        img{
            
        }
    }

    //Usage
    @include md{
        grid-template-columns: 1fr 1fr;
    }

    //Usage
    @include lg{
        grid-template-columns: 1fr 1fr;
    }
}