#gallery{
    display: grid;
    grid-template-columns: 1fr;

    //Usage
    @include sm{
        grid-template-columns: 1fr;
    }

    //Usage
    @include md{
        grid-template-columns: 2fr;
    }

    //Usage
    @include lg{
        grid-template-columns: 2fr;
    }
}