#hero{
    display: grid;
    grid-template-columns: 1fr;
    .search{
        h1{
            text-align: left;
        }
        img{

        }
    }
    .SAinfo{
        background-color: rgb(214, 109, 78);
        text-align: left;
        h1{
            text-align: left;
        }
        h2{
            text-align: left;
        }
        h3{
            text-align: right;
        }
        img{

        }

        //Usage
        @include md{
            grid-template-columns: 1fr 1fr;
        }

        //Usage
        @include lg{
            grid-template-columns: 1fr 1fr;
        }
    }
    .locationinfo{
        background-color: rgb(230, 63, 2);
        text-align: left;
        h1{
            text-align: left;
        }
        h2{
            text-align: left;
        }
        h3{
            text-align: right;
        }
        img{

        }
        
        //Usage
        @include md{
            grid-template-columns: 1fr 1fr;
        }

        //Usage
        @include lg{
            grid-template-columns: 1fr 1fr;
        }
    }
}